body {
  background-color: white;
}

#LoginCard {
  margin-top: 2rem;
  margin-left: 6rem;
  margin-bottom: 2rem;
}

#LoginTitle {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

#BeginningImage {
  height: 26rem;
  top: 50%;
  margin-top: -14rem;
  left: 50%;
  margin-left: -16rem;
  width: 32rem;
}

#DarkSection {
  background-color: whitesmoke;
  padding-top: 4rem;
  padding-left: 13.5rem;
  padding-bottom: 4rem;
}

#SectionTitle {
  font-size: 3rem;
}

#SectionText {
  margin-top: 1rem;
}

#FirstSectionSecondCol {
  padding-top: 1rem;
  padding-left: 8rem;
  padding-bottom: 1rem;
}

#SectionButtons {
  padding: 0.8rem;
  border-radius: 30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.95;
}

#WhiteSection {
  background-color:white;
  padding-top: 4rem;
  padding-left: 13.5rem;
  padding-bottom: 4rem;
}

#ThirdSectionTitle {
  font-size: 2.5rem;
}

#ThirdSectionButton {
  padding: 0.8rem;
  border-radius: 30px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.95;
}

#BiggerSectionText {
  margin-top: 1rem;
  font-size: 2rem;
}

#ConnectionImage {
  height: 32rem;
  top: 50%;
  margin-top: -16rem;
  left: 50%;
  margin-left: -16rem;
}

#FindSection {
  background-color: antiquewhite;
  padding-top: 4rem;
  padding-left: 13.5rem;
  padding-bottom: 4rem;
}

#DarkConnectionSection {
  background-color: whitesmoke;
  padding-top: 16rem;
  padding-left: 13.5rem;
  padding-bottom: 16rem;
}

#PathCol {
  background-color: whitesmoke;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 12rem;
  padding-left: 13.5rem;
  padding-right: 6rem;
  padding-bottom: 4rem;
}

#PathButton {
  padding: 0.75rem;
}

#PathImage {
  height: 40rem;
  top: 50%;
  margin-top: -20rem;
  left: 50%;
  margin-left: -20rem;
}

#FourthSectionTitle {
  font-size: 3rem;
}

#FourthSectionImage {
  height: 16rem;
  top: 50%;
  margin-top: -17rem;
}

#WhiteFourthSection {
  padding-top: 30rem;
  padding-left: 13.5rem;
  padding-bottom: 12rem;
}

#FourthSectionCol {
  margin-right: 4rem;
  padding-right: 2rem;
}

#FourthSectionDropDown {
  padding: 0.8rem;
  border-radius: 5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.75rem;
}

.landing_image_near_footer {
  background-image: url(../../../static/assets/StockImage7.avif);
  background-size: 100%;
  min-height: 840px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.h2 {
  font-size: 3.5rem;
  margin-top: 48px;
  margin-bottom: 16px;
}

.landing_get_started_button {
  height: min-content;
  min-height: 48px;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
